.mainmenu {
    background-image: url("img/startscreen.jpg");
    background-size: cover;
}
.gameover {
    background-image: url("img/gameover.jpg");
    background-size: cover;
}
.startscreen {
    background-color: none;
}
.heading h1 {
    color: white;
    font-size: 90px;
}
.heading h2 {
    color: white;
    font-size: 45px;
}
.gameoverheading h1 {
    color: white;
    font-size: 160px;
}
.gameoverheading h2 {
    color: white;
    font-size: 30px;
}
.buttons button {
    padding-right: 70px;
    padding-left: 70px;
    margin-right: 5px;
    margin-left: 5px;
}
.gamezone {
    background-image: url('img/gamebg.png');
    background-size: cover;
}